body {
  background-color: rgb(36, 33, 57);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.align--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.newsletter__button {
  font: inherit;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: calc(22vw + 0.390625vw);
  min-width: fit-content;
  white-space: nowrap;
  background-color: rgb(36, 33, 57);
  color: white;
  margin: 0 auto;
  font-size: calc(8px + 0.390625vw);
}

.newsletter__content {
  color: rgb(18, 12, 54);
  font-weight: 700;
}